In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                                title  year
0                     Le dossier noir  1955
1  All Inclusive ili Vsyo vklyucheno!  2011
2                        Mediate This  2016
3                               Dummy  2002
4                            13 Score  2014

In [4]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

### How many movies are listed in the titles dataframe?

In [5]:
len(titles)

217757

### What are the earliest two films listed in the titles dataframe?

In [7]:
t = titles.sort_values('year')

In [8]:
t.head()

                                                    title  year
100206                                         Miss Jerry  1894
112696     Reproduction of the Corbett and Jeffries Fight  1899
6794                                 Family Troubles (II)  1900
106605                              Soldiers of the Cross  1900
30093   Pierrot's Problem, or How to Make a Fat Wife O...  1900

### How many movies have the title "Hamlet"?

In [13]:
ham = titles[titles.title == 'Hamlet']
len(ham)

19

### How many movies are titled "North by Northwest"?

In [12]:
t = titles[titles.title == 'North by Northwest']
t

                     title  year
192482  North by Northwest  1959

### When was the first movie titled "Hamlet" made?

In [25]:
h = ham.sort_values('year')
h = h.reset_index()
h.ix[0].year

1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [26]:
tre = titles[titles.title == 'Treasure Island']
tre = tre.sort_values('year')
tre

                  title  year
73463   Treasure Island  1918
82659   Treasure Island  1920
580     Treasure Island  1934
70074   Treasure Island  1950
1851    Treasure Island  1972
77680   Treasure Island  1973
85746   Treasure Island  1985
216387  Treasure Island  1999

### How many movies were made in the year 1950?

In [28]:
fidy = titles[titles.year == 1950]
len(fidy)

1037

### How many movies were made in the year 1960?

In [29]:
fidy = titles[titles.year == 1960]
len(fidy)

1478

### How many movies were made from 1950 through 1959?

In [34]:
fidies = titles[(titles.year >= 1950) & (titles.year < 1960)]
len(fidies)

12207

### In what years has a movie titled "Batman" been released?

In [38]:
bat = titles[titles.title == 'Batman']
bat.year

17223    1989
77044    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [48]:
c = cast[cast.title == 'Inception']
c = c.drop_duplicates('name')
len(c)

76

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [58]:
c.n.isnull().sum()

25

### But how many roles in the movie "Inception" did receive an "n" value?

In [60]:
c.n.notnull().sum()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [80]:
nbn = cast[cast.title == 'North by Northwest']
#n = titles.loc[nbn.n.dropna().index]
n = cast.iloc[nbn.n.dropna().index]
n.sort_values('n')

,title,year,name,type,character,n
793576,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1
3166924,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2
1326397,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3
2850453,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4
323835,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5
2756204,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6
1543808,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7
1160305,North by Northwest,1959,Martin Landau,actor,Leonard,8
2225377,North by Northwest,1959,Adam Williams,actor,Valerian,9
1648850,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10
606082,North by Northwest,1959,Robert Ellenstein,actor,Licht,11
2087676,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12
422290,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13
1373641,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14
186182,North by Northwest,1959,Edward Binns,actor,Captain Junket,15
1260364,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [82]:
sl = cast[(cast.title == 'Sleuth') & (cast.year == 1972)]
sl.sort_values('n')

,title,year,name,type,character,n
1552873,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1
296388,Sleuth,1972,Michael Caine,actor,Milo Tindle,2
339585,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3
1333868,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4
2471035,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5
1318823,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [86]:

sl = cast[(cast.title == 'Sleuth') & (cast.year == 2007)]
sl = cast.iloc[sl.dropna().index]
sl.sort_values('n')

          title  year           name   type    character  n
296389   Sleuth  2007  Michael Caine  actor       Andrew  1
1177201  Sleuth  2007       Jude Law  actor         Milo  2
1643926  Sleuth  2007  Harold Pinter  actor  Man on T.V.  3

### How many roles were credited in the silent 1921 version of Hamlet?

In [88]:
sl = cast[(cast.title == 'Hamlet') & (cast.year == 1921)]
len(sl)

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [90]:
sl = cast[(cast.title == 'Hamlet') & (cast.year == 1921)]
len(sl)

9

### How many "Hamlet" roles have been listed in all film credits through history?

In [94]:
h = cast[cast.character == 'Hamlet']
len(h)

85

### How many people have played an "Ophelia"?

In [99]:
oph = cast[cast.character == 'Ophelia']
oph = oph.drop_duplicates('name')
len(oph)

98

### How many people have played a role called "The Dude"?

In [103]:
dude = cast[cast.character == 'The Dude']
dude = dude.drop_duplicates('name')
len(dude)

17

### How many people have played a role called "The Stranger"?

In [104]:
stranger = cast[cast.character == 'The Stranger']
stranger = dude.drop_duplicates('name')
len(stranger)

17

### How many roles has Sidney Poitier played throughout his career?

In [105]:
sid = cast[cast.name == 'Sidney Poitier']
len(sid)

43

### How many roles has Judi Dench played?

In [106]:
jud = cast[cast.name == 'Judi Dench']
len(jud)

53

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [108]:
cary = cast[(cast.name == 'Cary Grant') & (cast.n == 2) & (cast.year //10 * 10 == 1940)]
cary

                   title  year        name   type    character  n
793573  My Favorite Wife  1940  Cary Grant  actor         Nick  2
793583    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [109]:
cary = cast[(cast.name == 'Cary Grant') & (cast.n == 1) & (cast.year //10 * 10 == 1940)]
cary.sort_values('year')

,title,year,name,type,character,n
793598,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1
793555,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1
793600,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1
793588,Suspicion,1941,Cary Grant,actor,Johnnie,1
793602,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1
793579,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1
793546,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1
793571,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1
793572,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1
793580,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1
793538,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1
793575,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1
793574,Night and Day,1946,Cary Grant,actor,Cole Porter,1
793577,Notorious,1946,Cary Grant,actor,Devlin,1
793594,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1
793595,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1
793570,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1
793550,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1
793559,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1

### How many roles were available for actors in the 1950s?

In [110]:
ors = cast[(cast.type == 'actor') & (cast.year // 10 * 10 == 1950)]
len(ors)

151217

### How many roles were avilable for actresses in the 1950s?

In [111]:
ors = cast[(cast.type == 'actress') & (cast.year // 10 * 10 == 1950)]
len(ors)

54953

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [112]:
lead = cast[(cast.n == 1) & (cast.year < 1980)]
len(lead)

61257

### How many non-leading roles were available through from the beginning of film history through 1980?

In [113]:
lead = cast[(cast.n != 1) & (cast.year < 1980)]
len(lead)

1047390

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [115]:
lead = cast.n[cast.year < 1980]
lead.isnull().sum()

422189